<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>

### Fancy Planet HTML template.
### 
### When combined with the stylesheet and images in the output/ directory
### of the Planet source, this gives you a much prettier result than the
### default examples template and demonstrates how to use the config file
### to support things like faces
### 
### For documentation on the more boring template elements, see
### examples/config.ini and examples/index.html.tmpl in the Planet source.

<head>
  <title><TMPL_VAR name></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="generator" content="<TMPL_VAR generator ESCAPE="HTML">">
  <link rel="stylesheet" href="planet.css" type="text/css"/>
  <TMPL_IF feedtype>
    <link rel="alternate" href="<TMPL_VAR feed ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">" type="application/<TMPL_VAR feedtype>+xml">
  </TMPL_IF>
  <script type="text/javascript">
    function toggle(id) {
       var e = document.getElementById(id);
       var top_info = document.getElementById("top_info");
       if(e.style.display == 'inline-block') {
          e.style.display = 'none';
          top_info.style.display = 'none';
       } else {
          document.getElementById("add_your_blog").style.display = 'none';
          document.getElementById("participants").style.display = 'none';
          e.style.display = 'inline-block';
          top_info.style.display = 'inline-block';
       }
    }
  </script>
  <link rel="shortcut icon" href="./images/ros.ico"/>
</head>
<body>

### The overall div
<div style="width: 100%; text-align: center;">

  ### write ROS PLANET
  <div class="top_block" style="display: inline-block;">
    <div style="padding-left:50px;padding-right:50px;">
      <div style="float:left;padding-top:5px">
        <object class="icon" style="width:60px; height:60px" data="./images/ros_logo.svg" type="image/svg+xml" />
      </div>
      <div class="ROS_planet_text" style="float:right;">planet ROS</div>
    </div>
    <br/>
  </div>
  <br/>

  <div style="display: inline-block; width:500px;margin-bottom:10px">
    <div style="display: inline-block;">
       <table>
           <tr>
               <td>
                   <a class="top_button" href="./rss20.xml">
                       <div>
                         <embed class="icon" src="./images/feed-icon.svg" type="image/svg+xml"/> 
                           <br/>
                           Subscribe
                       </div>
                   </a>
               </td>
               <td>
                   <a class="top_button" href="javascript:toggle('add_your_blog')">
                       <div>
                         <embed class="icon" src="./images/feed-icon-plus.svg" type="image/svg+xml" /> 
                           <br/>
                           Add your blog
                       </div>
                   </a>
               </td>
               <td>
                   <a class="top_button" href="javascript:toggle('participants')">
                       <div>
                         <embed class="icon" src="./images/Robot_Head_clip_art.svg" type="image/svg+xml" style="width:35px"/> 
                           <br/>
                           Participants
                       </div>
                   </a>
               </td>
           </tr>
      </table>
    </div>
  </div>

### The main div
<div style="width: 100%; text-align: center;">

### The div with all the items
<div class="all_items" style="display: inline-block;">


### add the section that describes the feeds that are used
  <div class="entry" id="top_info" style="display: none; margin-bottom:10px">
    <div id="participants" class="content" style="display:none">
      <strong>Current participants as of <TMPL_VAR date> (UTC):</strong><br/>
      <TMPL_LOOP Channels>
      <a href="<TMPL_VAR url ESCAPE="HTML">" title="subscribe"><img src="images/feed-icon-10x10.png" alt="(feed)"></a> <a <TMPL_IF link>href="<TMPL_VAR link ESCAPE="HTML">" </TMPL_IF><TMPL_IF message>class="message" title="<TMPL_VAR message ESCAPE="HTML">"</TMPL_IF><TMPL_UNLESS message>title="<TMPL_VAR title_plain ESCAPE="HTML">"</TMPL_UNLESS>><TMPL_VAR name></a>,
      </TMPL_LOOP>
    </div>
    
### add the section for a new person to add its own blog
    <div id="add_your_blog" class="content" style="display:none">
      <strong>Want your blog to be on the awesome planet ROS ?</strong><br/>
      <p>
      If you have a blog that talks about ROS once in a while, and especially if you are a developer, then we want to hear about those contributions on this page ! All you need for that to happen is:
        <ul>
          <li>have an RSS/Atom blog (no Tweeter/Facebook/Google+ posts)</li>
          <li>file a bug on ... indicating your name and your RSS feed/ATOM url </li>
          <li>make your ROS related posts tagged with any of the following categories: "ROS", "R.O.S.", "ros", "r.o.s."</li>
        </ul>
      </p>

      <strong>Warnings</strong><br/>
      <p>
      For security reasons, html iframe, embed, object, javascript will be stripped out. Only Youtube videos in object and embed will be kept.
    </p>

        <strong>Guidelines</strong><br/>
        <p>
      Planet ROS is one of the public faces of ROS and is read by users and potential contributors. The content remains the opinion of the bloggers but Planet ROS reserves the right to remove offensive posts.
    </p>
      <p>
      Blogs should be related to ROS but that does not mean they should be devoid of personal subjects and opinions : those are encouraged since Planet ROS is a chance to know more about ROS developers.
    </p>
      <p>
      Posts can be positive and promote ROS or constructive and describe issues but should not contain useless flaming opinions. We want to keep ROS welcoming :)
    </p>
    <p>
      ROS covers a wide variety of people and cultures. Profanities, prejudice, lewd comments and content likely to offend are to be avoided. Do not make personal attacks or attacks against other projects on your blog.
    </p>
    </div>
  </div>
  <br/>


<TMPL_LOOP Items>
<TMPL_IF new_date>
<div class="daygroup">
<div class="date"><TMPL_VAR new_date></div>
</TMPL_IF>

### Planet provides template variables for *all* configuration options for
### the channel (and defaults), even if it doesn't know about them.  We
### exploit this here to add hackergotchi faces to our channels.  Planet
### doesn't know about the "face", "facewidth" and "faceheight" configuration
### variables, but makes them available to us anyway.

### create the div for the item
<div class="entry">

### get the title of the article
<TMPL_IF title>
<div class="entry_title" <TMPL_IF title_language> lang="<TMPL_VAR title_language>"</TMPL_IF>><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></div>
</TMPL_IF>
### get the name of the channel
<TMPL_IF channel_name>
<div class="channel_name">from <a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">"><TMPL_VAR channel_name></a></div>
</TMPL_IF>

<div style="clear:both"></div>

<div class="content"<TMPL_IF content_language> lang="<TMPL_VAR content_language>"</TMPL_IF>>
<TMPL_VAR content>
</div>

### Planet also makes available all of the information from the feed
### that it can.  Use the 'planet-cache' tool on the cache file for
### a particular feed to find out what additional keys it supports.
### Comment extra fields are 'author' and 'category' which we
### demonstrate below.

<div style="clear:both"></div>
<p class="by_and_date">
<a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_IF author>by <TMPL_VAR author ESCAPE="HTML"> on </TMPL_IF><TMPL_VAR date><TMPL_IF category> under <TMPL_VAR category></TMPL_IF></a>
</p>
### end of the item
</div>

</TMPL_LOOP>

### end of the day group
</div>

### end of all the items
</div>

### end of the main div
</div>

### Thank the awesome Planet Venus
<br/>
<strong>Powered by the awesome: </strong> <a href="http://www.intertwingly.net/code/venus/"><img src="images/venus.png" width="80" height="15" alt="Planet" border="0"></a><br/><br/>

</body>

</html>
